<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ranawattech.expensetrackers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SecondScreen"
            android:exported="true" />
        <activity
            android:name=".GetStart"
            android:exported="true" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".MonthlyAnalyticsActivity" />
        <activity android:name=".WeeklyAnalyticsActivity" />
        <activity android:name=".DailyAnalyticsActivity" />
        <activity android:name=".ChooseAnalyticActivity" />
        <activity android:name=".WeekSpendingActivity" />
        <activity android:name=".TodaySpendingActivity" />
        <activity android:name=".BudgetActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>